<div class="container">
    <h3 class="card-title mt-5 pt-5">Création d'un article</h3>
    <hr/>
    <form class="mb-3" (submit)="" #f="ngForm">
        <input type="text" class="form-control mt-5" placeholder="Nom de l'article" required/>
        <input type="text" class="form-control mt-5" placeholder="Prix de l'article" required/>
        <input type="text" class="form-control mt-5" placeholder="Description de l'article"/>
        <button class="btn btn-primary mt-5 mr-5">Ajouter l'article</button>
        <button class="btn btn-danger mt-5">Annuler</button>
    <br/>
    </form>
</div>
