<div class="card" style="width: 18rem;">
    <img class="card-img-top" [src]="imageSrc" [alt]="altImage">
    <div class="card-body">
      <h5 class="card-title">{{titreArticle}}</h5>  
      <span ngIf="dispo==false">Indisponible</span>
      <p class="card-text">{{prixArticle}} $</p>
      <i class="bi bi-hand-thumbs-up-fill mr-1" (click)="onLike()"></i>{{likes}}
      <i class="bi bi-hand-thumbs-down-fill mr-1" (click)="onDisLike()"></i>{{dislikes}}
        <br/><br/>
      <span>Commentaires</span>
      <input type="text" class="input" [(ngModel)]="comment"/>
      <p class="card-text">{{comment}}</p>

    </div>
  </div>
