<div class="card" style="width: 18rem;">
    <img class="card-img-top" [src]="imageSrc" [alt]="altImage">
    <div class="card-body">
      <h5 class="card-title" [ngStyle]="{color: getColor()}">{{titreArticle}}  
        <span *ngIf="disponibilite==false">(Indisponible)</span>
      </h5>
      <h6 class="card-text">{{prixArticle |  currency: 'CAD' }} </h6>
      <p class="card-text">{{description}}</p>
      <span *ngIf="!disabledBtnLike">
        <i class="bi bi-hand-thumbs-up-fill mr-1"  (click)="onLike()"></i>{{likes}}
      </span>
      <span *ngIf="!disabledBtnDisLike">
        <i class="bi bi-hand-thumbs-down-fill mr-1" (click)="onDisLike()"></i>{{dislikes}}
      </span>
    </div>
    <div class="card-footer">
      <small class="text-muted">
        <a routerLink="details/{{id}}"><i class="bi bi-eye-fill mr-1" ></i>Voir l'article</a>
      </small>
    </div>
  </div>
 