<div class="container">
    <h3 class="card-title">Informations sur l'article</h3>
    <hr/>
    <div class="row justify-content-center">
      <img class="card-img-top detail-image" src={{imageSrc}} alt={{altImage}}>
    </div>
    <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">{{titreArticle}} - {{prixArticle}} $</h5>
          <p class="card-text">{{description}}</p>
        </div>
      </div>
      <br/>
    <span>Commentaires</span><br/>
    <input type="text" class="form-control" placeholder="Saisir un commentaire"/>
    <p class="card-text mt-5">{{comment}}</p>
</div>
