<!-- Main message or call to action -->
<div class="jumbotron">
    <div class="container text-center">
      <h1 class="display-3 mt-5">La bonne affaire</h1>
      <p>{{message}}</p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4 mt-5 justify-content-center" *ngFor="let item of articles" >
        <app-article 
          [id]="item.id"
          [titreArticle]="item.titreArticle" 
          [prixArticle]="item.prixArticle"
          [altImage]="item.altImage"
          [imageSrc]="item.imageSrc"
          [description]="item.description"
          [disponibilite]="item.disponibilite"
          (message)="affiche(($event))"></app-article>
      </div>
    </div>
  </div> <!-- /container -->
